.idea/
node_modules/
dist/
docs/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
#webpack/dev.config.js
.vscode/
.happypack/
webpack/build
webpack/manifest.json
webpack/dll.config.js
webpack/webpack.dll.config.js
plus.config.js
gulpfile.js
statistics.html
static/
package-lock.json
prod.dev.config.js
.history/
