@import "../../../Common/Common";

.pictureLayoutCss {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .img0 {
    width: 29vw;
    padding: 5px;
    height: calc(33vw - 10px);
    width: 33.33%;

    > img {
      height: 100%;
      width: 100%;
    }
  }

  .img_4 {
    width: 32vw;
    height: 32vw;
    padding: 5px;

    > img {
      height: 100%;
      width: 100%;
    }
  }
}
