@import "../../../Common/Common";

.defaultCss {
  @extend .gMain;
  font-size: 14px;

  .components {
    padding: 10pt;

    .title {
      text-align: center;
      font-size: 18pt;
    }

    .demoItem {
      font-size: 14pt;
      margin-top: 10pt;

      .item {
        margin-top: 10pt;
        border: 1px solid #eee;
        text-align: center;
        border-radius: 5px;
        padding: 5px;

        &:active {
          background: #cfcfcf;
        }

        &:hover {
          background: blue;
          color: #fff;
        }
      }

      .xtnScroll {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;

        .scrollRow {
          margin-bottom: 10px;
          border: 1px solid #e0e0e0;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    >input[type='text'] {
      padding: 5px 10px;
      width: 100%;
    }
  }
}
