.datepickerCol1{


  flex: 1;
  margin: 0 .25em;


  .datepickerViewPort {
    height: 200px;
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }


    .datepickerWheel {
      position: absolute;
      height: 40px;
      top: 50%;
      margin-top: -20px;
      //width: 100%;
      width: 33.333%; // 中间对齐了。

      .datepickerScroll {
        list-style-type: none;
        & > li {
          height: 40px;
          line-height: 40px;
          font-size: 1.375em;
          cursor: pointer;
        }

        div{
          height: 40px;
          line-height: 40px;
          font-size: 1.375em;
        }
      }
    }

  }
}