
/*---------------图片中间对齐--------------**/
.gImageCenter {
  background: {
    size: contain;
    position: center;
    repeat: no-repeat;
  }
}

/*--------------让一个div 垂直居中-----------------*/
.gWebkitBoxCenter {
  /* Safari、Opera 以及 Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* W3C */
  display: flexbox;
  box-pack: center;
  box-align: center;
}
@mixin g-Image-Center($size:contain) {
  background: {
    position: center;
    repeat: no-repeat;
    size: $size;
  }
}
@mixin g-Image-Center-Url($size:contain,$url:'') {
   @include g-Image-Center($size);
  background: {
    image: url($url);
  }
}

.gMain {
  width: 100%;
  position: relative;
  padding: 0;
}

/*-------------------------内容不换行，多出来的就 ... 省略了-------------------------------*/
.gContentEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-------------------------------------------------------------*/
.gDisplayFlex {
  display: -webkit-inline-flex;
  display: -webkit-flex;
  display: inline-flex;
  display: flex;
  display: -ms-flex;
  display: -moz-box-flex;
}

/*-------------------------------线-----------------------------*/
.gLine {
  width: 100%;
  background: #dcdcdc;
}
@mixin g-line($height:1px, $color:#dcdcdc) {
  width: 100%;
  height: $height;
  background: $color;
}

.gLineFine {
  height: 1px;
  @extend .gLine;
}

.gLineWide {
  height: 10px;
  @extend .gLine;
}

.gFixed {
  position: fixed;

  &.fixedBottom {
    bottom: 0;
    width: 100%;
  }

  &.fixedTop {
    top: 0;
    width: 100%;
  }
}


/*-------------------------------线-----------------------------*/

/*----------------三行后，多出来的加上...----------------*/

/*.aaaaaaaaaaaaaaaaaaaaa {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}*/
